:root {
  --rosewater: #f5e0dc;
  --rosewater-rgb: 245 224 220;
  --rosewater-hsl: 9.6 55.556% 91.176%;
  --flamingo: #f2cdcd;
  --flamingo-rgb: 242 205 205;
  --flamingo-hsl: 0 58.73% 87.647%;
  --pink: #f5c2e7;
  --pink-rgb: 245 194 231;
  --pink-hsl: 316.471 71.831% 86.078%;
  --mauve: #cba6f7;
  --mauve-rgb: 203 166 247;
  --mauve-hsl: 267.407 83.505% 80.98%;
  --red: #f38ba8;
  --red-rgb: 243 139 168;
  --red-hsl: 343.269 81.25% 74.902%;
  --maroon: #eba0ac;
  --maroon-rgb: 235 160 172;
  --maroon-hsl: 350.4 65.217% 77.451%;
  --peach: #fab387;
  --peach-rgb: 250 179 135;
  --peach-hsl: 22.957 92% 75.49%;
  --yellow: #f9e2af;
  --yellow-rgb: 249 226 175;
  --yellow-hsl: 41.351 86.047% 83.137%;
  --green: #a6e3a1;
  --green-rgb: 166 227 161;
  --green-hsl: 115.455 54.098% 76.078%;
  --teal: #94e2d5;
  --teal-rgb: 148 226 213;
  --teal-hsl: 170 57.353% 73.333%;
  --sky: #89dceb;
  --sky-rgb: 137 220 235;
  --sky-hsl: 189.184 71.014% 72.941%;
  --sapphire: #74c7ec;
  --sapphire-rgb: 116 199 236;
  --sapphire-hsl: 198.5 75.949% 69.02%;
  --blue: #89b4fa;
  --blue-rgb: 137 180 250;
  --blue-hsl: 217.168 91.87% 75.882%;
  --lavender: #b4befe;
  --lavender-rgb: 180 190 254;
  --lavender-hsl: 231.892 97.368% 85.098%;
  --text: #cdd6f4;
  --text-rgb: 205 214 244;
  --text-hsl: 226.154 63.934% 88.039%;
  --subtext1: #bac2de;
  --subtext1-rgb: 186 194 222;
  --subtext1-hsl: 226.667 35.294% 80%;
  --subtext0: #a6adc8;
  --subtext0-rgb: 166 173 200;
  --subtext0-hsl: 227.647 23.611% 71.765%;
  --overlay2: #9399b2;
  --overlay2-rgb: 147 153 178;
  --overlay2-hsl: 228.387 16.757% 63.725%;
  --overlay1: #7f849c;
  --overlay1-rgb: 127 132 156;
  --overlay1-hsl: 229.655 12.775% 55.49%;
  --overlay0: #6c7086;
  --overlay0-rgb: 108 112 134;
  --overlay0-hsl: 230.769 10.744% 47.451%;
  --surface2: #585b70;
  --surface2-rgb: 88 91 112;
  --surface2-hsl: 232.5 12% 39.216%;
  --surface1: #45475a;
  --surface1-rgb: 69 71 90;
  --surface1-hsl: 234.286 13.208% 31.176%;
  --surface0: #313244;
  --surface0-rgb: 49 50 68;
  --surface0-hsl: 236.842 16.239% 22.941%;
  --base: #1e1e2e;
  --base-rgb: 30 30 46;
  --base-hsl: 240 21.053% 14.902%;
  --mantle: #181825;
  --mantle-rgb: 24 24 37;
  --mantle-hsl: 240 21.311% 11.961%;
  --crust: #11111b;
  --crust-rgb: 17 17 27;
  --crust-hsl: 240 22.727% 8.627%;
}
